@import '../../styles/variables';

.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  flex: 1; /* Take up the remaining space */
  padding: 0rem;
  transition: margin-left 0.3s ease;
}

.sidebar-container.collapsed + .dashboard-content {
  margin-left: $sidebar-collapsed-width; /* Use the variable for collapsed width */
}

.sidebar-container:not(.collapsed) + .dashboard-content {
  margin-left: $sidebar-expanded-width; /* Use the variable for expanded width */
}