@import '../../../styles/variables';

.header-container {
    background-color: fade-out($color:purple, $amount: 1);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

