@import '../../../styles/variables';

.user-table-container {
    margin: 20px;
    padding: 20px;
    background-color: #1A2B44;
    border-radius: 10px;
    border: 1px solid #3A4D6D;
}
  
.user-table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
}
  
.user-table th,
.user-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #3A4D6D;
}
  
.user-table th {
    background-color: #3A4D6D;
}
  
.user-table td {
    background-color: #1A2B44;
}
  
.access-level {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
  
.access-level.admin {
    background-color: #28a745; // Verde
}
  
.access-level.manager {
    background-color: #ffc107; // Amarillo
}
  
.access-level.user {
    background-color: #17a2b8; // Azul
}
  