$sidebar-expanded-width: 10rem;
$sidebar-collapsed-width: 0rem;
$logo-expanded-width: 10rem;


/* Color Palette 1 */
$color1: #111A2B; 
$color2: #1E2940; 
$color3: #69B2A6; 
$color4: #7076C4; 
$color5: #F2A007; 
$color6: #D7D7D7; 
$colorWhite: #FFFFFF;
$colorBlack: #000000;


/* Color Palette 2
$color1: #1E2940; 
$color2: #101926; 
$color3: #53A08E; 
$color4: #7076C4; 
$color5: #9B9EAE; 
$color6: #FFFFFF; 
$colorWhite: #FFFFFF;
$colorBlack: #000000;
*/

/* Font Settings */
$font-h1: 'Roboto', sans-serif;      /* Font for h1 */
$font-h2: 'Open Sans', sans-serif;   /* Font for h2 */
$font-h3: 'Lora', serif;             /* Font for h3 */
$font-h4: 'Montserrat', sans-serif;  /* Font for h4 */
$font-h5: 'Merriweather', serif;     /* Font for h5 */
$font-h6: 'Nunito', sans-serif;      /* Font for h6 */
$font-p: 'Arial', sans-serif;        /* Font for paragraphs */

