@import 'variables';
@import 'mixins';

//Page template styles with sidebar support
.page-container {
  display: flex;
  height: 100vh; /* Ensure full viewport height */
}

.page-content {
  flex: 1;
  overflow-y: auto;
}


body {
  background-color: $color1; /* Set the default background color */
  margin: 0; /* Remove default margin */
  font-family: $font-p; /* Set the default font for the body text */
  color: $colorWhite; /* Set default text color to ensure readability */
}

h1 {
  font-family: $font-h1;
  color: $colorWhite;
}

h2 {
  font-family: $font-h2;
  color: $colorWhite;
}

h3 {
  font-family: $font-h3;
  color: $colorWhite;
}

h4 {
  font-family: $font-h4;
  color: $colorWhite;
}

h5 {
  font-family: $font-h5;
  color: $colorWhite;
}

h6 {
  font-family: $font-h6;
  color: $colorWhite;;
}

p {
  font-family: $font-p;
  color: $colorWhite;
}
