@import '../../../styles/variables';

/* Content Wrapper */
.content-wrapper {
  //background-color: pink;
  padding: 0rem;
}

/* Small Tiles Container */
.small-tiles-container {
  //background-color: red;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Big Tiles Container */
.big-tiles-container {
  //background-color: blue;
  display: flex;
  gap: 1rem;
}