@import '../../../styles/variables';

.mediciones-container {
  display: grid;
  gap: 1rem;
  width: 100%;
}


.consumo-historico-container{
  display: grid;
  grid-template-columns: 1fr; /* Un solo grid item por fila */
  grid-template-rows: auto;
  height: 100%;
}
.CFP-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Un solo grid item por fila */
  grid-template-rows: 1;
  height: 100%;
}

.potencias-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Un solo grid item por fila */
  grid-template-rows: 1;
  height: 100%;
}

.CFP {
  background-color: $color1;
  padding: 16px;
  border-radius: 8px;
  height: 100%;
}


.consumo-historico {
  background-color: $color1;
  padding: 16px;
  border-radius: 8px;
  height: 100%;
}

.potencias {
  background-color: $color1;
  padding: 16px;
  border-radius: 8px;
  height: 100%;
}
