@import '../../styles/variables';

.page-container {
  display: flex;
  height: 100vh;
}

.page-content {
  flex: 1;
  padding: 0rem;
  transition: margin-left 0.2s ease-out;
}

.downloads-tile-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  grid-template-rows: repeat(6, auto); /* Seis filas automáticas */
  gap: 1rem; /* Espacio entre los tiles */
  padding: 20px;
}

.download-tile {
  background-color: #2B3A5A;
  border-radius: 5px;
  border: 1px solid #3A4D6D;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}