.gauge-container {
    background-color: #1b2a41;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  // Asegura que el contenido inicie desde la parte superior
    transition: all 0.3s ease-in-out;
  }
  
  .gauge-title {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #3b4a67;
    padding: 1rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;  // Solo redondeamos la parte superior
    width: 100%;  // Asegura que el título ocupe todo el ancho del contenedor
    text-align: center;
    margin-top: -2rem;  // Ajusta este valor según el padding superior del contenedor
    margin-bottom: 1rem;  // Espacio hacia el contenido
  }
  
  .gauge-content {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;  // Añade padding si es necesario para evitar que el contenido choque con el título
  }
  